/* css styles */
{: style="text-align: justify" }

h1.title {
  font-weight: bolder;
  font-size: 34px;
  color: #045FB4;
}

h1 {
    color: #045FB4;
    font-weight: bolder;
    font-size: 28px;
}

h2 {
    color: #3A3B3C;
    font-weight: bolder;
    font-size: 22px;
}